.page-footer {
    
    background-color: var(--secondary-bg-color);

        @media screen and (max-width: 1199px) {
        text-align: center;
        }

        @media screen and (min-width: 1200px) {
            padding-top: 60px;
            padding-bottom: 60px;
            
        }

        

    &__container {

        @media screen and (min-width: 768px) {

            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: space-around;
            }

        @media screen and (min-width: 1200px) {
            justify-content: space-between;
        }
        
        }


    &__cta {
        margin-top: 60px;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--main-bg-color);

        @media screen and (min-width: 1200px) {
            margin-top: 0;
        }

        }

    

    

}