.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-bg-color);

        &__container {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }
    
        &__logo {
            color: var(--main-bg-color);
            display: block;
            margin-bottom: 20px;
        }
    
        &__cta {
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--main-bg-color);
            margin-bottom: 20px;
        }
}







