.page-header {
    border-bottom: 1px solid #ECECEC;

        &__menu {
            display: none;

            @media screen and (min-width: 768px) {
                display: flex;
            }
        }

        &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
           
        }
    
        &__nav {
            margin-left: 93px;
        }
    
        &__contacts {
            margin-left: auto;
        }

        &__button {
            width: 40px;
            height: 40px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
}

