.offer {
    
        &__title {
            margin-top: 30px;
            font-size: 14px;
            text-transform: uppercase;
        }
    
        &__text {
            margin-top: 10px;
            font-size: 14px;
            line-height: 1.71;
            color: var(--secondary-text-color);
        }
    
        &__icon-holder {
            display: flex;
            width: 100%;
            height: 120px;
            justify-content: center;
            align-items: center;
            background-color: var(--section-bg-color);
            border-radius: 4px;
        }

}

